
<%- include("../components/head") %>
<body>
    <%- include("../components/dashboard/sidebar") %>
    <main>
        <%- include("../components/dashboard/navbar") %>
    
        <div class="all-profile-section">
            <div class="profile-section">
                <div class="profile-info">
                    <div class="profile-img">
                        <img src="<%=user.profileImage %>" alt="">
                    </div>
                    <div class="pinfo">
                        <p class="n1"><%=user.name %></p>
                        <p class="n1">9818547973</p>
                        <p class="n2">Kathmandu, Bagmati, Nepal</p>
                        <p class="n2"><%=user.email %></p>
                        <button>Change Profile Picture</button>
                    </div>
                </div>
                <div class="post-blog">
                    <div class="lfpost">
                        <div class="lfnum">
                            <p class="n3"><%=petpost.length %></p>
                            <p class="title">Lost Found Post</p>
                        </div>
                        <div class="lfpaw">
                            <svg width="60" height="54" viewBox="0 0 60 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M28.2046 12.3929C28.22 13.7732 28.0125 15.0787 27.582 16.3095C27.1516 17.5402 26.4272 18.6042 25.4087 19.5014C24.3902 20.3985 23.168 20.8471 21.7421 20.8471C19.9656 20.8471 18.3453 20.1857 16.8814 18.863C15.4174 17.5402 14.3248 15.9816 13.6035 14.1873C12.8823 12.3929 12.5123 10.656 12.4936 8.9767C12.4782 7.59641 12.6858 6.29089 13.1162 5.06014C13.5466 3.82939 14.2711 2.76542 15.2896 1.86824C16.3081 0.971053 17.5303 0.522461 18.9561 0.522461C20.756 0.522461 22.3821 1.18385 23.8344 2.50662C25.2867 3.82939 26.3734 5.38221 27.0945 7.16507C27.8156 8.94794 28.1856 10.6905 28.2046 12.3929ZM16.3989 29.0598C16.4194 30.9002 15.9463 32.499 14.9797 33.8563C14.013 35.2136 12.6298 35.8922 10.8299 35.8922C9.05341 35.8922 7.39252 35.2538 5.84724 33.9771C4.30195 32.7003 3.11025 31.1647 2.27214 29.3704C1.43403 27.576 1.00549 25.8277 0.986532 24.1253C0.966033 22.2849 1.43904 20.6803 2.40554 19.3116C3.37204 17.9428 4.75523 17.2584 6.55511 17.2584C8.33161 17.2584 9.9925 17.8968 11.5378 19.1735C13.0831 20.4503 14.2748 21.9916 15.1131 23.7975C15.9513 25.6034 16.3799 27.3575 16.3989 29.0598ZM30.2031 28.1281C32.9614 28.1281 35.9542 29.2496 39.1815 31.4926C42.4089 33.7355 45.1157 36.4616 47.3019 39.6707C49.4882 42.8799 50.596 45.8073 50.6255 48.4528C50.6373 49.511 50.4484 50.3909 50.0589 51.0926C49.6693 51.7942 49.1082 52.3118 48.3756 52.6454C47.643 52.979 46.8917 53.209 46.1218 53.3355C45.3518 53.4621 44.4643 53.5253 43.4591 53.5253C41.8696 53.5253 39.6725 53.0077 36.8676 51.9725C34.0628 50.9373 31.924 50.4197 30.4514 50.4197C28.9087 50.4197 26.6645 50.9316 23.719 51.9553C20.7735 52.979 18.4358 53.4908 16.7061 53.4908C12.4284 53.4908 10.2709 51.8115 10.2335 48.4528C10.2115 46.4744 10.8414 44.2717 12.1234 41.8447C13.4054 39.4177 15.0111 37.2035 16.9406 35.2021C18.8702 33.2007 21.0429 31.5213 23.4587 30.164C25.8746 28.8068 28.1227 28.1281 30.2031 28.1281ZM38.502 20.8471C37.0761 20.8471 35.8439 20.3985 34.8054 19.5014C33.7669 18.6042 33.0188 17.5402 32.5609 16.3095C32.1031 15.0787 31.8665 13.7732 31.8511 12.3929C31.8321 10.6905 32.1634 8.94794 32.8448 7.16507C33.5261 5.38221 34.5783 3.82939 36.0011 2.50662C37.4239 1.18385 39.0353 0.522461 40.8351 0.522461C42.261 0.522461 43.4932 0.971053 44.5317 1.86824C45.5702 2.76542 46.3184 3.82939 46.7762 5.06014C47.234 6.29089 47.4706 7.59641 47.486 8.9767C47.5047 10.656 47.1734 12.3929 46.4922 14.1873C45.8109 15.9816 44.753 17.5402 43.3185 18.863C41.884 20.1857 40.2785 20.8471 38.502 20.8471ZM53.609 17.2584C55.4089 17.2584 56.8073 17.9428 57.8043 19.3116C58.8013 20.6803 59.31 22.2849 59.3305 24.1253C59.3495 25.8277 58.9599 27.576 58.1618 29.3704C57.3636 31.1647 56.2061 32.7003 54.6893 33.9771C53.1725 35.2538 51.5258 35.8922 49.7493 35.8922C47.9494 35.8922 46.551 35.2136 45.5542 33.8563C44.5573 32.499 44.0486 30.9002 44.0281 29.0598C44.0092 27.3575 44.3987 25.6034 45.1967 23.7975C45.9947 21.9916 47.1521 20.4503 48.669 19.1735C50.1858 17.8968 51.8325 17.2584 53.609 17.2584Z" fill="#0A66C2"/>
                                </svg>
                                
                        </div>
                    </div>
                    <div class="lfpost">
                        <div class="lfnum">
                            <p class="n3">19</p>
                            <p class="title">Blog Post</p>
                        </div>
                        <div class="lfpaw">
                            <svg width="49" height="49" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.54167 48.875C4.05208 48.875 2.77736 48.3451 1.7175 47.2852C0.657639 46.2253 0.126806 44.9497 0.125 43.4583V5.54167C0.125 4.05208 0.655833 2.77736 1.7175 1.7175C2.77917 0.657639 4.05389 0.126806 5.54167 0.125H43.4583C44.9479 0.125 46.2235 0.655833 47.2852 1.7175C48.3469 2.77917 48.8768 4.05389 48.875 5.54167V43.4583C48.875 44.9479 48.3451 46.2235 47.2852 47.2852C46.2253 48.3469 44.9497 48.8768 43.4583 48.875H5.54167ZM10.9583 38.0417H29.9167V32.625H10.9583V38.0417ZM10.9583 27.2083H38.0417V21.7917H10.9583V27.2083ZM10.9583 16.375H38.0417V10.9583H10.9583V16.375Z" fill="#0A66C2"/>
                                </svg>
                                
                                
                        </div>
                    </div>
                </div>
            </div>
            <div class="allpost">
                <div class="post-btn">
                    <button class="paw-btn active">
                        <svg width="37" height="33" viewBox="0 0 37 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.8202 7.62387C16.8294 8.45085 16.7022 9.23304 16.4385 9.97043C16.1749 10.7078 15.7312 11.3453 15.1077 11.8828C14.4841 12.4204 13.7359 12.6891 12.8631 12.6891C11.7756 12.6891 10.7839 12.2929 9.88795 11.5003C8.99199 10.7078 8.3234 9.77402 7.88217 8.69894C7.44094 7.62387 7.21472 6.58325 7.20352 5.57709C7.19431 4.75011 7.32152 3.96793 7.58517 3.23054C7.84882 2.49315 8.29244 1.85568 8.91603 1.31815C9.53961 0.780609 10.2878 0.511841 11.1606 0.511841C12.2624 0.511841 13.2577 0.908102 14.1465 1.70062C15.0353 2.49315 15.7002 3.4235 16.1414 4.49168C16.5826 5.55987 16.8088 6.60393 16.8202 7.62387ZM9.59113 17.6097C9.60341 18.7123 9.3136 19.6702 8.7217 20.4834C8.1298 21.2966 7.28298 21.7032 6.18122 21.7032C5.09378 21.7032 4.07719 21.3207 3.13146 20.5558C2.18573 19.7908 1.45648 18.8708 0.943712 17.7957C0.43094 16.7207 0.168874 15.6731 0.157513 14.6532C0.145231 13.5506 0.435002 12.5892 1.02682 11.7691C1.61865 10.949 2.46544 10.539 3.56719 10.539C4.65464 10.539 5.67122 10.9215 6.61695 11.6864C7.56268 12.4514 8.29197 13.3748 8.80482 14.4568C9.31767 15.5388 9.57977 16.5897 9.59113 17.6097ZM18.0412 17.0514C19.7296 17.0514 21.5615 17.7234 23.5367 19.0672C25.5119 20.4111 27.1684 22.0443 28.5062 23.9671C29.844 25.8898 30.5218 27.6437 30.5394 29.2287C30.5465 29.8627 30.4307 30.3899 30.1922 30.8103C29.9536 31.2307 29.6101 31.5408 29.1616 31.7407C28.7131 31.9405 28.2532 32.0784 27.7819 32.1542C27.3105 32.23 26.7672 32.2679 26.1519 32.2679C25.179 32.2679 23.8341 31.9578 22.1173 31.3375C20.4005 30.7173 19.0914 30.4072 18.19 30.4072C17.2456 30.4072 15.8719 30.7138 14.0687 31.3272C12.2655 31.9405 10.8345 32.2472 9.77563 32.2472C7.15718 32.2472 5.83674 31.241 5.81433 29.2287C5.80112 28.0434 6.18706 26.7237 6.97214 25.2696C7.75722 23.8155 8.74046 22.4888 9.92187 21.2897C11.1033 20.0906 12.4335 19.0844 13.9125 18.2712C15.3915 17.458 16.7678 17.0514 18.0412 17.0514ZM23.1222 12.6891C22.2494 12.6891 21.4952 12.4204 20.8597 11.8828C20.2241 11.3453 19.7663 10.7078 19.4862 9.97043C19.2061 9.23304 19.0615 8.45085 19.0523 7.62387C19.0409 6.60393 19.2439 5.55987 19.6613 4.49168C20.0786 3.4235 20.7229 2.49315 21.594 1.70062C22.4652 0.908102 23.4516 0.511841 24.5534 0.511841C25.4262 0.511841 26.1804 0.780609 26.816 1.31815C27.4515 1.85568 27.9093 2.49315 28.1894 3.23054C28.4695 3.96793 28.6141 4.75011 28.6234 5.57709C28.6346 6.58325 28.4315 7.62387 28.0142 8.69894C27.597 9.77402 26.9492 10.7078 26.0709 11.5003C25.1926 12.2929 24.2097 12.6891 23.1222 12.6891ZM32.3702 10.539C33.472 10.539 34.3279 10.949 34.938 11.7691C35.5481 12.5892 35.8593 13.5506 35.8715 14.6532C35.8829 15.6731 35.6442 16.7207 35.1553 17.7957C34.6665 18.8708 33.9578 19.7908 33.0291 20.5558C32.1004 21.3207 31.0923 21.7032 30.0049 21.7032C28.9031 21.7032 28.0472 21.2966 27.4372 20.4834C26.8272 19.6702 26.5161 18.7123 26.5038 17.6097C26.4924 16.5897 26.7311 15.5388 27.2199 14.4568C27.7086 13.3748 28.4173 12.4514 29.346 11.6864C30.2747 10.9215 31.2828 10.539 32.3702 10.539Z" fill="#333333"/>
                            </svg>
                    </button>
                    <button class="paw-btn">
                        <svg width="29" height="30" viewBox="0 0 29 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.50473 29.0823C2.65345 29.0823 1.92497 28.7711 1.31927 28.1487C0.713576 27.5263 0.410212 26.7771 0.40918 25.9013V3.63415C0.40918 2.75936 0.712544 2.01076 1.31927 1.38835C1.926 0.765925 2.65449 0.454185 3.50473 0.453125H25.1736C26.0249 0.453125 26.7539 0.764865 27.3606 1.38835C27.9673 2.01183 28.2702 2.76043 28.2691 3.63415V25.9013C28.2691 26.7761 27.9663 27.5252 27.3606 28.1487C26.7549 28.7722 26.0259 29.0834 25.1736 29.0823H3.50473ZM6.60028 22.7203H17.4347V19.5392H6.60028V22.7203ZM6.60028 16.3582H22.078V13.1772H6.60028V16.3582ZM6.60028 9.99619H22.078V6.81517H6.60028V9.99619Z" fill="#333333"/>
                            </svg>
                    </button>


                </div>
                <div class="post-section">
                    <% for(var i=0; i < petpost.length; i++){ %>
                    <div class="post">
                        <a href="/search-inner/<%= petpost[i].id %>">
                        <div class="post-img">
                            <img src="/<%=petpost[i].images[0].path %>" alt="">
                        </div>
                    </a>
                        <div class="post-info">
                            <div class="p1">
                                <p><%= petpost[i].petname ? petpost[i].petname : petpost[i].pet %></p>
                                <% if (petpost[i].type === 'Lost') { %>
                                <p style="color:red">Lost</p>
                                <% } else if (petpost[i].type === 'Found') { %>
                                <p style="color:green">Found</p>
                                <% } else if (pets[i].type === 'Reunited') { %>
                                <p style="color:blue">Found</p>
                                <% } %>
                            </div>
                            <div class="p2">
                                <svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.50001 0.187256C5.76844 0.189299 4.10838 0.878067 2.88397 2.10247C1.65957 3.32688 0.9708 4.98694 0.968757 6.71851C0.966683 8.13355 1.4289 9.51019 2.28451 10.6373C2.28451 10.6373 2.46263 10.8718 2.49173 10.9056L7.50001 16.8123L12.5107 10.9027C12.5368 10.8712 12.7155 10.6373 12.7155 10.6373L12.7161 10.6355C13.5713 9.5089 14.0333 8.1329 14.0313 6.71851C14.0292 4.98694 13.3404 3.32688 12.116 2.10247C10.8916 0.878067 9.23158 0.189299 7.50001 0.187256ZM7.50001 9.09351C7.03028 9.09351 6.5711 8.95421 6.18053 8.69325C5.78996 8.43228 5.48555 8.06135 5.30579 7.62738C5.12604 7.1934 5.079 6.71587 5.17064 6.25517C5.26228 5.79446 5.48848 5.37128 5.82063 5.03913C6.15278 4.70698 6.57596 4.48078 7.03667 4.38914C7.49737 4.2975 7.97491 4.34453 8.40888 4.52429C8.84286 4.70405 9.21378 5.00846 9.47475 5.39903C9.73572 5.78959 9.87501 6.24878 9.87501 6.71851C9.87422 7.34815 9.62375 7.95179 9.17852 8.39702C8.73329 8.84225 8.12966 9.09272 7.50001 9.09351Z" fill="#333333"/>
                                </svg>
                                <p><%= petpost[i].address.slice(0, 11) %></p>  
                            </div>
                            <div class="p3">
                                <div class="p4">
                                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 15.4125C9.38447 15.4125 10.7378 15.0019 11.889 14.2328C13.0401 13.4636 13.9373 12.3703 14.4672 11.0913C14.997 9.81218 15.1356 8.40471 14.8655 7.04685C14.5954 5.68898 13.9287 4.4417 12.9497 3.46273C11.9708 2.48376 10.7235 1.81708 9.36563 1.54698C8.00776 1.27689 6.6003 1.41551 5.32121 1.94532C4.04213 2.47514 2.94888 3.37234 2.17971 4.52349C1.41054 5.67463 1 7.02801 1 8.41248C1 9.56981 1.28 10.6603 1.77778 11.6224L1 15.4125L4.79011 14.6347C5.75144 15.1317 6.84344 15.4125 8 15.4125Z" stroke="#333333" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <p>Comments: 4</p>
                                </div>
                                <button id="openButton<%= i %>">

                                    <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9 15.6625C9 15.331 9.1317 15.013 9.36612 14.7786C9.60054 14.5442 9.91848 14.4125 10.25 14.4125C10.5815 14.4125 10.8995 14.5442 11.1339 14.7786C11.3683 15.013 11.5 15.331 11.5 15.6625C11.5 15.994 11.3683 16.3119 11.1339 16.5464C10.8995 16.7808 10.5815 16.9125 10.25 16.9125C9.91848 16.9125 9.60054 16.7808 9.36612 16.5464C9.1317 16.3119 9 15.994 9 15.6625ZM9 10.6625C9 10.331 9.1317 10.013 9.36612 9.77859C9.60054 9.54417 9.91848 9.41248 10.25 9.41248C10.5815 9.41248 10.8995 9.54417 11.1339 9.77859C11.3683 10.013 11.5 10.331 11.5 10.6625C11.5 10.994 11.3683 11.3119 11.1339 11.5464C10.8995 11.7808 10.5815 11.9125 10.25 11.9125C9.91848 11.9125 9.60054 11.7808 9.36612 11.5464C9.1317 11.3119 9 10.994 9 10.6625ZM9 5.66248C9 5.33095 9.1317 5.01301 9.36612 4.77859C9.60054 4.54417 9.91848 4.41248 10.25 4.41248C10.5815 4.41248 10.8995 4.54417 11.1339 4.77859C11.3683 5.01301 11.5 5.33095 11.5 5.66248C11.5 5.994 11.3683 6.31194 11.1339 6.54636C10.8995 6.78078 10.5815 6.91248 10.25 6.91248C9.91848 6.91248 9.60054 6.78078 9.36612 6.54636C9.1317 6.31194 9 5.994 9 5.66248Z" fill="#333333"/>
                                    </svg>
                                </button>
                                <div id="popupss<%= i %>" class="popupss">
                                    <button class="btn1" onclick="updatePost('<%= petpost[i].id %>')">
                                        Edit
                                    </button>
                                    <button class="btn2" onclick="deletePost('<%= petpost[i].id %>')">
                                        Delete
                                    </button>
                                </div>
                                      
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>

        </div>
    </main>
</body>
<script src="/js/dashboard/home.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    var buttons = document.querySelectorAll('[id^="openButton"]');
    buttons.forEach(function(button) {
        button.addEventListener("click", function() {
            var index = parseInt(this.id.replace("openButton", ""));
            opentt(index);
        });
    });
});

function opentt(index) {
    document.getElementById('popupss' + index).classList.toggle('active'); // Use index to select the specific popup
}

const deletePost= (id)=>{
        const swalWithBootstrapButtons = Swal.mixin({
          customClass: {
            confirmButton: 'btn btn-success',
            cancelButton: 'btn btn-danger'
          },
          buttonsStyling: false
        })
    
        swalWithBootstrapButtons.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!',
          reverseButtons: true
        }).then((result)=>{
          if (result.isConfirmed) {
            location.href= "/dashboard/lostfound/"+id+"/delete"
          } 
          
        })
      }

      const updatePost = (id)=>{
        location.href= "/dashboard/lostfound/update/"+id
      }
</script>
</html>