<%- include("../components/head") %>
<body>
    <%- include("../components/nav") %>
    <div class="container">
        <div class="claim-heading">
            <p><%= pet.petname ? "My Name is " + pet.petname : 'Help me' %></p>
                <% if (pet.type === 'Lost' || pet.type === 'Found') { %>
                    <button class="claim-btn">
                        <% if (pet.type === 'Lost') { %>
                            I have found it
                        <% } else if (pet.type === 'Found') { %>
                            I have lost it
                        <% } %>
                    </button>
                <% } %>
        </div>
        <div class="info">
            <div class="pet-n-reward">
                <div class="pet-info-img">
                    <img id="largeImage" src="/<%=pet.images[0].path %>" alt="Large Image">
                </div>
            
                <!-- Thumbnail images -->
                <div class="thumbnail-section">
                    <% pet.images.forEach(function(image) { %>
                        <img class="thumbnail" src="/<%= image.path %>" alt="Thumbnail" onclick="showImage('/<%= image.path %>')">
                    <% }); %>
                    <img class="thumbnail" src="/image/test.jpeg" alt="Thumbnail 1" onclick="showImage('/image/test.jpeg')">
                    <img class="thumbnail" src="/image/register.png" alt="Thumbnail 1" onclick="showImage('/image/register.png')">
                    <img class="thumbnail" src="/image/login-bg.png" alt="Thumbnail 2" onclick="showImage('/image/login-bg.png')">
                    <!-- Add more thumbnail images as needed -->
                </div>

                <div class="pet-reward">
                    <p>Reward: Nrs. 5000</p>
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.1071 7.66406L8.73606 0.455273C8.61887 0.172793 8.31418 5.84261e-09 7.98606 5.84261e-09H0.938988C0.180199 5.84261e-09 -0.263941 0.854297 0.17141 1.47539L6.69289 10.7859C8.43137 9.16406 10.6462 8.04492 13.1071 7.66406ZM14.9997 9.375C9.30149 9.375 4.68723 13.9893 4.68723 19.6875C4.68723 25.3857 9.30442 30 14.9997 30C20.695 30 25.3122 25.3857 25.3122 19.6875C25.3122 13.9893 20.7009 9.375 14.9997 9.375ZM20.4196 18.5918L18.2001 20.7598L18.7201 23.8213C18.8153 24.3633 18.2367 24.7881 17.7457 24.5244L14.9988 23.0818L12.2517 24.5215C11.761 24.7852 11.1823 24.3604 11.2773 23.8184L11.7973 20.7568L9.57775 18.5889C9.17551 18.1992 9.40402 17.5195 9.95481 17.4375L13.0239 16.9907L14.3962 14.209C14.5134 13.96 14.7551 13.8354 14.9968 13.8354C15.2385 13.8354 15.4802 13.9629 15.5974 14.209L16.9743 16.9922L20.0435 17.439C20.6013 17.5195 20.8239 18.1992 20.4196 18.5918ZM29.0095 5.84261e-09H22.0134C21.8515 -1.80707e-05 21.6923 0.0419097 21.5514 0.121697C21.4106 0.201485 21.2927 0.31641 21.2095 0.455273L16.8876 7.60957C19.3486 7.99043 21.5681 9.11074 23.3036 10.7373L29.8251 1.42676C30.2634 0.854297 29.8181 5.84261e-09 29.0095 5.84261e-09Z" fill="#FAFF00"/>
                        </svg>
                        
                </div>
                <div class="pet-contact-info">
                    <p>Contact me on:</p>
                    <div class="social-media">
                        <div>
                            <a href="">
                                <svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.8643 0C7.11743 0 0 6.91954 0 15.4266C0 23.9336 7.11743 30.8531 15.8643 30.8531C24.6112 30.8531 31.7287 23.9336 31.7287 15.4266C31.7287 6.91954 24.6112 0 15.8643 0Z" fill="#4267B2"/>
                                    <mask id="path-2-inside-1_63_65" fill="white">
                                    <path d="M16.6937 6.7689H19.3333C19.4004 6.76015 19.4686 6.76658 19.5327 6.78767C19.5967 6.80877 19.6549 6.84397 19.7027 6.89053C19.7505 6.93709 19.7866 6.99375 19.8081 7.05609C19.8297 7.11844 19.8362 7.18478 19.827 7.24996V10.1363C19.8616 10.2768 19.8023 10.4095 19.6994 10.5067C19.5965 10.6039 19.4501 10.5875 19.3126 10.6174H17.5426C16.9559 10.5837 16.9559 10.4836 16.8599 11.0984L16.857 12.5416H19.3333C19.4004 12.5329 19.4686 12.5393 19.5327 12.5604C19.5968 12.5815 19.6551 12.6167 19.7029 12.6632C19.7508 12.7098 19.787 12.7664 19.8087 12.8287C19.8303 12.8911 19.837 12.9574 19.828 13.0227V15.909C19.837 15.9742 19.8303 16.0406 19.8087 16.1029C19.787 16.1653 19.7508 16.2219 19.7029 16.2684C19.6551 16.315 19.5968 16.3501 19.5327 16.3712C19.4686 16.3923 19.4004 16.3988 19.3333 16.3901H16.8599L16.858 23.6059C16.951 23.8898 16.7145 24.1197 16.4226 24.087H13.4002C13.333 24.0954 13.2648 24.0888 13.2007 24.0676C13.1366 24.0464 13.0783 24.0113 13.0303 23.9649C12.9822 23.9185 12.9458 23.862 12.9236 23.7998C12.9015 23.7376 12.8943 23.6713 12.9025 23.6059V16.3901H11.4185C11.3514 16.3988 11.2832 16.3923 11.2191 16.3712C11.155 16.3501 11.0967 16.315 11.0489 16.2684C11.001 16.2219 10.9648 16.1653 10.9432 16.1029C10.9215 16.0406 10.9148 15.9742 10.9238 15.909V13.0227C10.9148 12.9574 10.9215 12.8911 10.9432 12.8287C10.9648 12.7664 11.001 12.7098 11.0489 12.6632C11.0967 12.6167 11.155 12.5815 11.2191 12.5604C11.2832 12.5393 11.3514 12.5329 11.4185 12.5416H12.9025V10.9493C12.9025 8.75952 13.3319 6.73619 16.6937 6.7689Z"/>
                                    </mask>
                                    <path d="M16.6937 6.7689H19.3333C19.4004 6.76015 19.4686 6.76658 19.5327 6.78767C19.5967 6.80877 19.6549 6.84397 19.7027 6.89053C19.7505 6.93709 19.7866 6.99375 19.8081 7.05609C19.8297 7.11844 19.8362 7.18478 19.827 7.24996V10.1363C19.8616 10.2768 19.8023 10.4095 19.6994 10.5067C19.5965 10.6039 19.4501 10.5875 19.3126 10.6174H17.5426C16.9559 10.5837 16.9559 10.4836 16.8599 11.0984L16.857 12.5416H19.3333C19.4004 12.5329 19.4686 12.5393 19.5327 12.5604C19.5968 12.5815 19.6551 12.6167 19.7029 12.6632C19.7508 12.7098 19.787 12.7664 19.8087 12.8287C19.8303 12.8911 19.837 12.9574 19.828 13.0227V15.909C19.837 15.9742 19.8303 16.0406 19.8087 16.1029C19.787 16.1653 19.7508 16.2219 19.7029 16.2684C19.6551 16.315 19.5968 16.3501 19.5327 16.3712C19.4686 16.3923 19.4004 16.3988 19.3333 16.3901H16.8599L16.858 23.6059C16.951 23.8898 16.7145 24.1197 16.4226 24.087H13.4002C13.333 24.0954 13.2648 24.0888 13.2007 24.0676C13.1366 24.0464 13.0783 24.0113 13.0303 23.9649C12.9822 23.9185 12.9458 23.862 12.9236 23.7998C12.9015 23.7376 12.8943 23.6713 12.9025 23.6059V16.3901H11.4185C11.3514 16.3988 11.2832 16.3923 11.2191 16.3712C11.155 16.3501 11.0967 16.315 11.0489 16.2684C11.001 16.2219 10.9648 16.1653 10.9432 16.1029C10.9215 16.0406 10.9148 15.9742 10.9238 15.909V13.0227C10.9148 12.9574 10.9215 12.8911 10.9432 12.8287C10.9648 12.7664 11.001 12.7098 11.0489 12.6632C11.0967 12.6167 11.155 12.5815 11.2191 12.5604C11.2832 12.5393 11.3514 12.5329 11.4185 12.5416H12.9025V10.9493C12.9025 8.75952 13.3319 6.73619 16.6937 6.7689Z" fill="white"/>
                                    <path d="M19.3333 6.7689V8.17189H19.4245L19.5149 8.16009L19.3333 6.7689ZM16.6937 6.7689L16.6801 8.17189H16.6937V6.7689ZM12.9025 12.5416V13.9446H14.3055V12.5416H12.9025ZM11.4185 12.5416L11.2378 13.9329L11.3277 13.9446H11.4185V12.5416ZM11.2191 12.5604L10.7805 11.2277H10.7805L11.2191 12.5604ZM11.0489 12.6632L12.027 13.669L12.027 13.669L11.0489 12.6632ZM10.9432 12.8287L12.2682 13.2898L12.2682 13.2898L10.9432 12.8287ZM10.9238 13.0227H12.3268V12.9268L12.3137 12.8317L10.9238 13.0227ZM10.9238 15.909L12.3137 16.0999L12.3268 16.0049V15.909H10.9238ZM10.9432 16.1029L9.6181 16.564L9.6181 16.564L10.9432 16.1029ZM11.0489 16.2684L10.0708 17.2742L10.0708 17.2742L11.0489 16.2684ZM11.2191 16.3712L11.6576 15.0386L11.6576 15.0386L11.2191 16.3712ZM11.4185 16.3901V14.9871H11.3277L11.2378 14.9988L11.4185 16.3901ZM12.9025 16.3901H14.3055V14.9871H12.9025V16.3901ZM12.9025 23.6059L14.2945 23.7815L14.3055 23.6941V23.6059H12.9025ZM12.9236 23.7998L11.6018 24.2702L11.6018 24.2702L12.9236 23.7998ZM13.0303 23.9649L14.0054 22.9562L14.0054 22.9562L13.0303 23.9649ZM13.2007 24.0676L13.6404 22.7353H13.6404L13.2007 24.0676ZM13.4002 24.087V22.684H13.3127L13.2258 22.6949L13.4002 24.087ZM16.4226 24.087L16.5789 22.6927L16.501 22.684H16.4226V24.087ZM16.858 23.6059L15.455 23.6055L15.4549 23.8297L15.5247 24.0428L16.858 23.6059ZM16.8599 16.3901V14.9871H15.4573L15.457 16.3897L16.8599 16.3901ZM19.3333 16.3901L19.5141 14.9988L19.4241 14.9871H19.3333V16.3901ZM19.5327 16.3712L19.0942 15.0386L19.0942 15.0386L19.5327 16.3712ZM19.7029 16.2684L20.681 17.2742L20.6811 17.2742L19.7029 16.2684ZM19.8087 16.1029L21.1337 16.564L21.1337 16.564L19.8087 16.1029ZM19.828 15.909H18.425V16.0049L18.4381 16.0999L19.828 15.909ZM19.828 13.0227L18.4381 12.8317L18.425 12.9267V13.0227H19.828ZM19.8087 12.8287L18.4836 13.2898L18.4836 13.2898L19.8087 12.8287ZM19.7029 12.6632L20.6811 11.6574L20.681 11.6574L19.7029 12.6632ZM19.5327 12.5604L19.0942 13.8931L19.0942 13.8931L19.5327 12.5604ZM19.3333 12.5416V13.9446H19.4241L19.5141 13.9329L19.3333 12.5416ZM16.857 12.5416L15.454 12.5387L15.4511 13.9446H16.857V12.5416ZM16.8599 11.0984L15.4737 10.882L15.4572 10.9881L15.457 11.0955L16.8599 11.0984ZM17.5426 10.6174L17.4622 12.018L17.5024 12.0204H17.5426V10.6174ZM19.3126 10.6174V12.0204H19.4629L19.6099 11.9885L19.3126 10.6174ZM19.6994 10.5067L20.6627 11.5267L20.6627 11.5267L19.6994 10.5067ZM19.827 10.1363H18.424V10.3067L18.4648 10.4721L19.827 10.1363ZM19.827 7.24996L18.4376 7.05528L18.424 7.15215V7.24996H19.827ZM19.8081 7.05609L21.134 6.59746V6.59746L19.8081 7.05609ZM19.7027 6.89053L18.7236 7.89535L18.7236 7.89536L19.7027 6.89053ZM19.3333 5.36592H16.6937V8.17189H19.3333V5.36592ZM16.7074 5.36598C14.7343 5.34679 13.2551 5.94651 12.3774 7.23649C11.5894 8.39484 11.4995 9.83733 11.4995 10.9493H14.3055C14.3055 9.87149 14.4303 9.20743 14.6974 8.81484C14.875 8.55389 15.2913 8.15831 16.6801 8.17182L16.7074 5.36598ZM11.4995 10.9493V12.5416H14.3055V10.9493H11.4995ZM12.9025 11.1386H11.4185V13.9446H12.9025V11.1386ZM11.5992 11.1503C11.3244 11.1146 11.0445 11.1409 10.7805 11.2277L11.6576 13.8931C11.5218 13.9378 11.3784 13.9512 11.2378 13.9329L11.5992 11.1503ZM10.7805 11.2277C10.5164 11.3147 10.273 11.4607 10.0708 11.6574L12.027 13.669C11.9204 13.7727 11.7935 13.8484 11.6576 13.8931L10.7805 11.2277ZM10.0708 11.6574C9.86831 11.8543 9.71234 12.0968 9.6181 12.3676L12.2682 13.2898C12.2173 13.436 12.1337 13.5652 12.027 13.669L10.0708 11.6574ZM9.6181 12.3676C9.52381 12.6386 9.49469 12.9284 9.53386 13.2136L12.3137 12.8317C12.335 12.9865 12.3191 13.1435 12.2682 13.2898L9.6181 12.3676ZM9.52081 13.0227V15.909H12.3268V13.0227H9.52081ZM9.53386 15.7181C9.49469 16.0033 9.52381 16.293 9.6181 16.564L12.2682 15.6418C12.3191 15.7881 12.335 15.9452 12.3137 16.0999L9.53386 15.7181ZM9.6181 16.564C9.71234 16.8348 9.8683 17.0774 10.0708 17.2742L12.027 15.2626C12.1337 15.3664 12.2174 15.4957 12.2682 15.6418L9.6181 16.564ZM10.0708 17.2742C10.2731 17.471 10.5164 17.617 10.7805 17.7039L11.6576 15.0386C11.7935 15.0833 11.9204 15.159 12.027 15.2626L10.0708 17.2742ZM10.7805 17.7039C11.0445 17.7908 11.3244 17.817 11.5992 17.7814L11.2378 14.9988C11.3784 14.9805 11.5218 14.9939 11.6576 15.0386L10.7805 17.7039ZM11.4185 17.793H12.9025V14.9871H11.4185V17.793ZM11.4995 16.3901V23.6059H14.3055V16.3901H11.4995ZM11.5106 23.4303C11.4748 23.7141 11.5063 24.0017 11.6018 24.2702L14.2454 23.3295C14.2967 23.4735 14.3138 23.6284 14.2945 23.7815L11.5106 23.4303ZM11.6018 24.2702C11.6973 24.5385 11.8534 24.7787 12.0552 24.9736L14.0054 22.9562C14.111 23.0583 14.1942 23.1855 14.2454 23.3294L11.6018 24.2702ZM12.0551 24.9736C12.2567 25.1685 12.4986 25.3133 12.761 25.3999L13.6404 22.7353C13.7745 22.7796 13.8998 22.8541 14.0054 22.9562L12.0551 24.9736ZM12.761 25.3999C13.0233 25.4865 13.3013 25.5133 13.5745 25.4791L13.2258 22.6949C13.3648 22.6775 13.5063 22.6911 13.6404 22.7353L12.761 25.3999ZM13.4002 25.49H16.4226V22.684H13.4002V25.49ZM16.2664 25.4812C16.813 25.5425 17.393 25.3642 17.8044 24.9287C18.2416 24.4659 18.398 23.8001 18.1912 23.1691L15.5247 24.0428C15.4109 23.6956 15.4956 23.2866 15.7648 23.0016C16.0083 22.7439 16.3242 22.6642 16.5789 22.6927L16.2664 25.4812ZM18.2609 23.6063L18.2629 16.3904L15.457 16.3897L15.455 23.6055L18.2609 23.6063ZM16.8599 17.793H19.3333V14.9871H16.8599V17.793ZM19.1526 17.7814C19.4274 17.817 19.7073 17.7908 19.9713 17.7039L19.0942 15.0386C19.23 14.9939 19.3734 14.9805 19.5141 14.9988L19.1526 17.7814ZM19.9713 17.7039C20.2354 17.617 20.4787 17.471 20.681 17.2742L18.7248 15.2626C18.8314 15.1589 18.9583 15.0833 19.0942 15.0386L19.9713 17.7039ZM20.6811 17.2742C20.8835 17.0774 21.0395 16.8348 21.1337 16.564L18.4836 15.6418C18.5345 15.4957 18.6181 15.3664 18.7248 15.2626L20.6811 17.2742ZM21.1337 16.564C21.228 16.2931 21.2571 16.0033 21.2179 15.7181L18.4381 16.0999C18.4168 15.9452 18.4327 15.7881 18.4836 15.6418L21.1337 16.564ZM21.231 15.909V13.0227H18.425V15.909H21.231ZM21.2179 13.2136C21.2571 12.9284 21.228 12.6386 21.1337 12.3676L18.4836 13.2898C18.4327 13.1435 18.4168 12.9865 18.4381 12.8317L21.2179 13.2136ZM21.1337 12.3676C21.0395 12.0968 20.8835 11.8543 20.6811 11.6574L18.7248 13.669C18.6181 13.5652 18.5345 13.436 18.4836 13.2898L21.1337 12.3676ZM20.681 11.6574C20.4788 11.4607 20.2354 11.3147 19.9713 11.2277L19.0942 13.8931C18.9583 13.8484 18.8314 13.7727 18.7248 13.669L20.681 11.6574ZM19.9713 11.2277C19.7073 11.1409 19.4274 11.1146 19.1526 11.1503L19.5141 13.9329C19.3734 13.9512 19.23 13.9378 19.0942 13.8931L19.9713 11.2277ZM19.3333 11.1386H16.857V13.9446H19.3333V11.1386ZM18.26 12.5445L18.2629 11.1013L15.457 11.0955L15.454 12.5387L18.26 12.5445ZM18.2461 11.3148C18.2583 11.2369 18.2661 11.1889 18.2725 11.1542C18.2794 11.1168 18.2791 11.1262 18.2699 11.1574C18.2585 11.1959 18.1432 11.593 17.701 11.8398C17.508 11.9475 17.3353 11.9777 17.2458 11.9874C17.1634 11.9964 17.1102 11.9919 17.1267 11.9928C17.1415 11.9936 17.1623 11.9954 17.2307 12.0012C17.2898 12.0062 17.3693 12.0127 17.4622 12.018L17.623 9.21669C17.5692 9.2136 17.5204 9.20967 17.4668 9.20514C17.4225 9.2014 17.3463 9.19462 17.2771 9.1909C17.208 9.18719 16.7681 9.14708 16.3335 9.38962C15.8059 9.68406 15.636 10.1693 15.5793 10.3609C15.5243 10.5467 15.4927 10.7604 15.4737 10.882L18.2461 11.3148ZM17.5426 12.0204H19.3126V9.21438H17.5426V12.0204ZM19.6099 11.9885C19.5745 11.9961 19.5525 11.9979 19.5844 11.9941C19.5966 11.9926 19.6815 11.9833 19.7632 11.9689C19.9438 11.9369 20.3217 11.8487 20.6627 11.5267L18.7361 9.48672C18.9742 9.26188 19.2275 9.21409 19.2747 9.20574C19.2898 9.20308 19.3059 9.20136 19.2487 9.20826C19.2112 9.21277 19.1193 9.22367 19.0152 9.24626L19.6099 11.9885ZM20.6627 11.5267C21.017 11.1921 21.3788 10.5693 21.1892 9.80051L18.4648 10.4721C18.3445 9.98421 18.5876 9.62697 18.7361 9.48672L20.6627 11.5267ZM21.23 10.1363V7.24996H18.424V10.1363H21.23ZM21.2164 7.44464C21.2564 7.15917 21.2279 6.86895 21.134 6.59746L18.4822 7.51472C18.4314 7.36792 18.4159 7.21039 18.4376 7.05528L21.2164 7.44464ZM21.134 6.59746C21.0402 6.32612 20.8843 6.08304 20.6818 5.88569L18.7236 7.89536C18.6166 7.79113 18.5329 7.66137 18.4822 7.51472L21.134 6.59746ZM20.6818 5.8857C20.4795 5.68851 20.2359 5.54214 19.9715 5.45507L19.0939 8.12027C18.9576 8.07539 18.8304 7.99942 18.7236 7.89535L20.6818 5.8857ZM19.9715 5.45507C19.7071 5.36803 19.4269 5.34181 19.1517 5.37772L19.5149 8.16009C19.3739 8.1785 19.2301 8.16512 19.0939 8.12027L19.9715 5.45507Z" fill="white" mask="url(#path-2-inside-1_63_65)"/>
                                </svg>
                                    
                            </a>
                        </div>
                        <div>
                            <a href="">
                                <svg width="33" height="31" viewBox="0 0 33 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.2813 -6.10352e-05C7.53442 -6.10352e-05 0.416992 6.91948 0.416992 15.4265C0.416992 23.9335 7.53442 30.8531 16.2813 30.8531C25.0282 30.8531 32.1456 23.9335 32.1456 15.4265C32.1456 6.91948 25.0282 -6.10352e-05 16.2813 -6.10352e-05Z" fill="#1DA1F2"/>
                                    <mask id="path-2-inside-1_63_68" fill="white">
                                    <path d="M25.2484 10.0428C25.1785 10.2567 25.088 10.4639 24.9783 10.6614C25.0832 10.6188 25.1995 10.6101 25.3098 10.6368C25.4202 10.6634 25.5188 10.7239 25.5911 10.8093C25.6633 10.8946 25.7054 11.0004 25.711 11.1108C25.7167 11.2213 25.6856 11.3305 25.6224 11.4224C25.205 12.0305 24.6903 12.5697 24.0978 13.0196L24.0988 13.1773C24.0988 17.8465 20.4441 22.6763 14.3299 22.6763C12.4642 22.677 10.6376 22.1563 9.06748 21.1764C8.96696 21.1135 8.89125 21.0193 8.85264 20.9093C8.81403 20.7993 8.81478 20.6798 8.85477 20.5702C8.89641 20.4615 8.97398 20.3693 9.07532 20.308C9.17665 20.2467 9.29603 20.2198 9.41475 20.2316C10.5697 20.3637 11.7393 20.1703 12.7845 19.6745C12.2756 19.4712 11.8185 19.1623 11.4453 18.7692C11.0721 18.3762 10.7917 17.9086 10.6237 17.3991C10.5955 17.3142 10.5905 17.2235 10.6092 17.1361C10.628 17.0488 10.6698 16.9676 10.7306 16.9007L10.7652 16.8671C9.95988 16.1859 9.46026 15.1834 9.46026 14.0914C9.46033 13.9991 9.4843 13.9083 9.52995 13.8275C9.57559 13.7466 9.64145 13.6782 9.72145 13.6286C9.78673 13.5912 9.85848 13.5658 9.93317 13.5535C9.62864 13.0011 9.47475 12.382 9.48618 11.7552C9.49761 11.1285 9.67398 10.5151 9.99847 9.9735C10.0416 9.90189 10.1019 9.84147 10.1742 9.79736C10.2465 9.75326 10.3287 9.72677 10.4138 9.72016C10.4988 9.71355 10.5843 9.72701 10.6629 9.75939C10.7415 9.79177 10.8108 9.84211 10.8651 9.90615C12.2822 11.5964 14.3141 12.6914 16.5391 12.9638C16.5187 12.4694 16.6012 11.976 16.7816 11.5134C16.962 11.0507 17.2367 10.6283 17.589 10.2713C17.9414 9.91438 18.3642 9.6303 18.8322 9.43612C19.3002 9.24193 19.8037 9.14165 20.3125 9.14127C21.249 9.1424 22.152 9.48068 22.8472 10.0909C23.42 9.95445 23.9688 9.73625 24.4757 9.44337C24.568 9.39062 24.6746 9.36634 24.7814 9.37373C24.8882 9.38112 24.9902 9.41984 25.0739 9.48477C25.1576 9.54971 25.2191 9.6378 25.2503 9.73742C25.2814 9.83705 25.2808 9.94351 25.2484 10.0428Z"/>
                                    </mask>
                                    <path d="M25.2484 10.0428C25.1785 10.2567 25.088 10.4639 24.9783 10.6614C25.0832 10.6188 25.1995 10.6101 25.3098 10.6368C25.4202 10.6634 25.5188 10.7239 25.5911 10.8093C25.6633 10.8946 25.7054 11.0004 25.711 11.1108C25.7167 11.2213 25.6856 11.3305 25.6224 11.4224C25.205 12.0305 24.6903 12.5697 24.0978 13.0196L24.0988 13.1773C24.0988 17.8465 20.4441 22.6763 14.3299 22.6763C12.4642 22.677 10.6376 22.1563 9.06748 21.1764C8.96696 21.1135 8.89125 21.0193 8.85264 20.9093C8.81403 20.7993 8.81478 20.6798 8.85477 20.5702C8.89641 20.4615 8.97398 20.3693 9.07532 20.308C9.17665 20.2467 9.29603 20.2198 9.41475 20.2316C10.5697 20.3637 11.7393 20.1703 12.7845 19.6745C12.2756 19.4712 11.8185 19.1623 11.4453 18.7692C11.0721 18.3762 10.7917 17.9086 10.6237 17.3991C10.5955 17.3142 10.5905 17.2235 10.6092 17.1361C10.628 17.0488 10.6698 16.9676 10.7306 16.9007L10.7652 16.8671C9.95988 16.1859 9.46026 15.1834 9.46026 14.0914C9.46033 13.9991 9.4843 13.9083 9.52995 13.8275C9.57559 13.7466 9.64145 13.6782 9.72145 13.6286C9.78673 13.5912 9.85848 13.5658 9.93317 13.5535C9.62864 13.0011 9.47475 12.382 9.48618 11.7552C9.49761 11.1285 9.67398 10.5151 9.99847 9.9735C10.0416 9.90189 10.1019 9.84147 10.1742 9.79736C10.2465 9.75326 10.3287 9.72677 10.4138 9.72016C10.4988 9.71355 10.5843 9.72701 10.6629 9.75939C10.7415 9.79177 10.8108 9.84211 10.8651 9.90615C12.2822 11.5964 14.3141 12.6914 16.5391 12.9638C16.5187 12.4694 16.6012 11.976 16.7816 11.5134C16.962 11.0507 17.2367 10.6283 17.589 10.2713C17.9414 9.91438 18.3642 9.6303 18.8322 9.43612C19.3002 9.24193 19.8037 9.14165 20.3125 9.14127C21.249 9.1424 22.152 9.48068 22.8472 10.0909C23.42 9.95445 23.9688 9.73625 24.4757 9.44337C24.568 9.39062 24.6746 9.36634 24.7814 9.37373C24.8882 9.38112 24.9902 9.41984 25.0739 9.48477C25.1576 9.54971 25.2191 9.6378 25.2503 9.73742C25.2814 9.83705 25.2808 9.94351 25.2484 10.0428Z" fill="white"/>
                                    <path d="M24.9783 10.6614L23.7519 9.98012L21.8192 13.4593L25.5064 11.9612L24.9783 10.6614ZM25.2484 10.0428L26.582 10.4786L26.5823 10.4778L25.2484 10.0428ZM25.2503 9.73742L26.5893 9.31874V9.31874L25.2503 9.73742ZM24.7814 9.37373L24.8783 7.97409L24.8783 7.97409L24.7814 9.37373ZM24.4757 9.44337L23.7797 8.22521L23.7739 8.22854L24.4757 9.44337ZM22.8472 10.0909L21.9218 11.1453L22.4668 11.6237L23.1723 11.4557L22.8472 10.0909ZM20.3125 9.14127L20.3142 7.73828L20.3115 7.73828L20.3125 9.14127ZM18.8322 9.43612L18.2945 8.14026L18.2945 8.14026L18.8322 9.43612ZM17.589 10.2713L16.5906 9.2857L16.5906 9.2857L17.589 10.2713ZM16.7816 11.5134L15.4745 11.0037L15.4745 11.0037L16.7816 11.5134ZM16.5391 12.9638L16.3686 14.3563L18.009 14.5572L17.9409 12.906L16.5391 12.9638ZM10.8651 9.90615L11.9403 9.00477L11.9352 8.99882L10.8651 9.90615ZM10.6629 9.75939L10.1284 11.0566L10.1284 11.0566L10.6629 9.75939ZM10.4138 9.72016L10.5225 11.1189L10.5225 11.1189L10.4138 9.72016ZM10.1742 9.79736L10.9048 10.9951L10.9048 10.9951L10.1742 9.79736ZM9.99847 9.9735L8.79678 9.24939L8.79495 9.25244L9.99847 9.9735ZM9.48618 11.7552L10.8889 11.7808V11.7808L9.48618 11.7552ZM9.93317 13.5535L10.1604 14.938L12.121 14.6163L11.1618 12.8762L9.93317 13.5535ZM9.72145 13.6286L9.02463 12.4109L9.00312 12.4232L8.98207 12.4362L9.72145 13.6286ZM9.52995 13.8275L8.30813 13.1379L8.30813 13.1379L9.52995 13.8275ZM9.46026 14.0914L8.05727 14.0902V14.0914H9.46026ZM10.7652 16.8671L11.7433 17.8729L12.8521 16.7947L11.6713 15.7959L10.7652 16.8671ZM10.7306 16.9007L9.75249 15.8949L9.7215 15.925L9.69243 15.957L10.7306 16.9007ZM10.6092 17.1361L11.981 17.4303V17.4303L10.6092 17.1361ZM10.6237 17.3991L11.9562 16.9599L11.955 16.9564L10.6237 17.3991ZM11.4453 18.7692L10.4279 19.7353L10.4279 19.7353L11.4453 18.7692ZM12.7845 19.6745L13.3858 20.9421L16.2904 19.5642L13.3049 18.3716L12.7845 19.6745ZM9.41475 20.2316L9.5742 18.8377L9.56367 18.8365L9.55313 18.8354L9.41475 20.2316ZM9.07532 20.308L9.80137 21.5085H9.80137L9.07532 20.308ZM8.85477 20.5702L7.54456 20.0685L7.54062 20.0788L7.53684 20.0892L8.85477 20.5702ZM8.85264 20.9093L10.1765 20.4447L10.1765 20.4447L8.85264 20.9093ZM9.06748 21.1764L8.32305 22.3656L8.32464 22.3666L9.06748 21.1764ZM14.3299 22.6763V21.2733H14.3294L14.3299 22.6763ZM24.0988 13.1773H25.5018L25.5017 13.1685L24.0988 13.1773ZM24.0978 13.0196L23.2494 11.9021L22.6904 12.3265L22.6948 13.0284L24.0978 13.0196ZM25.6224 11.4224L24.4663 10.6276L24.4656 10.6285L25.6224 11.4224ZM25.711 11.1108L27.1122 11.0392V11.0392L25.711 11.1108ZM25.5911 10.8093L26.662 9.90292V9.90292L25.5911 10.8093ZM25.3098 10.6368L25.6389 9.27293L25.6389 9.27293L25.3098 10.6368ZM26.2048 11.3427C26.3578 11.0672 26.4841 10.778 26.582 10.4786L23.9148 9.60692C23.8728 9.73553 23.8183 9.86049 23.7519 9.98012L26.2048 11.3427ZM26.5823 10.4778C26.705 10.1015 26.7075 9.69661 26.5893 9.31874L23.9112 10.1561C23.8554 9.97748 23.8566 9.78558 23.9146 9.60777L26.5823 10.4778ZM26.5893 9.31874C26.4713 8.94131 26.2404 8.61399 25.9339 8.37622L24.214 10.5933C24.0749 10.4854 23.9669 10.3343 23.9112 10.1561L26.5893 9.31874ZM25.9339 8.37622C25.6278 8.13882 25.2596 8.00048 24.8783 7.97409L24.6846 10.7734C24.5169 10.7618 24.3526 10.7009 24.214 10.5933L25.9339 8.37622ZM24.8783 7.97409C24.4971 7.94771 24.1143 8.03399 23.7797 8.22522L25.1718 10.6615C25.0217 10.7472 24.8522 10.785 24.6846 10.7734L24.8783 7.97409ZM23.7739 8.22854C23.3853 8.45306 22.9635 8.62095 22.5221 8.72607L23.1723 11.4557C23.8765 11.2879 24.5523 11.0194 25.1775 10.6582L23.7739 8.22854ZM23.7727 9.03642C22.8185 8.1989 21.5861 7.73982 20.3142 7.73828L20.3108 10.5443C20.912 10.545 21.4855 10.7624 21.9218 11.1453L23.7727 9.03642ZM20.3115 7.73828C19.6193 7.7388 18.9334 7.87518 18.2945 8.14026L19.3699 10.732C19.6671 10.6087 19.9881 10.5445 20.3136 10.5443L20.3115 7.73828ZM18.2945 8.14026C17.6556 8.40536 17.0757 8.79428 16.5906 9.2857L18.5875 11.257C18.8071 11.0345 19.0728 10.8552 19.3699 10.732L18.2945 8.14026ZM16.5906 9.2857C16.1054 9.77721 15.725 10.3612 15.4745 11.0037L18.0887 12.0231C18.199 11.7403 18.3679 11.4793 18.5875 11.257L16.5906 9.2857ZM15.4745 11.0037C15.2239 11.6463 15.1089 12.3328 15.1373 13.0215L17.9409 12.906C17.9285 12.606 17.9785 12.3058 18.0887 12.0231L15.4745 11.0037ZM16.7096 11.5712C14.8311 11.3412 13.1249 10.4177 11.9403 9.00479L9.79001 10.8075C11.4396 12.7751 13.7971 14.0415 16.3686 14.3563L16.7096 11.5712ZM11.9352 8.99882C11.7342 8.76175 11.4804 8.57881 11.1974 8.4622L10.1284 11.0566C10.0025 11.0047 9.88746 10.9225 9.79504 10.8135L11.9352 8.99882ZM11.1974 8.4622C10.9145 8.34564 10.6086 8.29781 10.3051 8.3214L10.5225 11.1189C10.389 11.1293 10.2541 11.1084 10.1284 11.0566L11.1974 8.4622ZM10.3051 8.3214C10.0015 8.34499 9.70594 8.43958 9.44357 8.59964L10.9048 10.9951C10.7871 11.0669 10.6559 11.1086 10.5225 11.1189L10.3051 8.3214ZM9.44357 8.59964C9.18102 8.7598 8.95809 8.98169 8.79678 9.24939L11.2001 10.6976C11.1251 10.8221 11.0228 10.9231 10.9048 10.9951L9.44357 8.59964ZM8.79495 9.25244C8.34536 10.0029 8.09937 10.8558 8.08343 11.7297L10.8889 11.7808C10.8959 11.4012 11.0026 11.0273 11.202 10.6946L8.79495 9.25244ZM8.08343 11.7297C8.06749 12.6035 8.28223 13.4648 8.70449 14.2308L11.1618 12.8762C10.975 12.5374 10.882 12.1604 10.8889 11.7808L8.08343 11.7297ZM9.70598 12.1691C9.46712 12.2083 9.23618 12.2898 9.02463 12.4109L10.4183 14.8463C10.3373 14.8926 10.2498 14.9233 10.1604 14.938L9.70598 12.1691ZM8.98207 12.4362C8.70438 12.6084 8.47138 12.8486 8.30813 13.1379L10.7518 14.517C10.6798 14.6445 10.5785 14.7479 10.4608 14.8209L8.98207 12.4362ZM8.30813 13.1379C8.14473 13.4274 8.05754 13.7551 8.05727 14.0902L10.8632 14.0925C10.8631 14.2431 10.8239 14.3893 10.7518 14.517L8.30813 13.1379ZM8.05727 14.0914C8.05727 15.619 8.75656 17.0056 9.85917 17.9383L11.6713 15.7959C11.1632 15.3661 10.8632 14.7477 10.8632 14.0914H8.05727ZM9.78712 15.8612L9.75249 15.8949L11.7087 17.9066L11.7433 17.8729L9.78712 15.8612ZM9.69243 15.957C9.467 16.205 9.30869 16.5096 9.23741 16.842L11.981 17.4303C11.9472 17.5879 11.8726 17.7302 11.7688 17.8444L9.69243 15.957ZM9.23741 16.842C9.1661 17.1747 9.1853 17.5197 9.29245 17.8419L11.955 16.9564C12.0057 17.1086 12.0149 17.2724 11.981 17.4303L9.23741 16.842ZM9.29128 17.8383C9.52475 18.5466 9.9136 19.1937 10.4279 19.7353L12.4627 17.8031C12.2305 17.5587 12.0586 17.2705 11.9562 16.9599L9.29128 17.8383ZM10.4279 19.7353C10.9422 20.2768 11.5693 20.6999 12.2641 20.9774L13.3049 18.3716C12.9819 18.2426 12.6949 18.0477 12.4627 17.8031L10.4279 19.7353ZM12.1832 18.4069C11.376 18.7898 10.4701 18.9402 9.5742 18.8377L9.2553 21.6255C10.6693 21.7872 12.1026 21.5508 13.3858 20.9421L12.1832 18.4069ZM9.55313 18.8354C9.13511 18.794 8.7121 18.888 8.34926 19.1075L9.80137 21.5085C9.6412 21.6053 9.45695 21.6456 9.27636 21.6277L9.55313 18.8354ZM8.34926 19.1075C7.98582 19.3273 7.69983 19.6631 7.54456 20.0685L10.165 21.072C10.093 21.2599 9.96214 21.4112 9.80137 21.5085L8.34926 19.1075ZM7.53684 20.0892C7.38553 20.5037 7.38264 20.9574 7.52881 21.3739L10.1765 20.4447C10.2454 20.6412 10.244 20.8559 10.1727 21.0513L7.53684 20.0892ZM7.52881 21.3739C7.67472 21.7897 7.95781 22.1369 8.32305 22.3656L9.81191 19.9872C9.97611 20.09 10.1078 20.249 10.1765 20.4447L7.52881 21.3739ZM8.32464 22.3666C10.1196 23.4869 12.2041 24.0801 14.3304 24.0793L14.3294 21.2733C12.7243 21.2739 11.1556 20.8258 9.81032 19.9862L8.32464 22.3666ZM14.3299 24.0793C21.3038 24.0793 25.5018 18.5337 25.5018 13.1773H22.6958C22.6958 17.1593 19.5844 21.2733 14.3299 21.2733V24.0793ZM25.5017 13.1685L25.5007 13.0107L22.6948 13.0284L22.6958 13.1862L25.5017 13.1685ZM24.9461 14.137C25.6571 13.5973 26.2762 12.9491 26.7791 12.2164L24.4656 10.6285C24.1339 11.1118 23.7236 11.5421 23.2494 11.9021L24.9461 14.137ZM26.7785 12.2173C27.0147 11.8737 27.1337 11.4605 27.1122 11.0392L24.3099 11.1824C24.2996 10.982 24.3565 10.7873 24.4663 10.6276L26.7785 12.2173ZM27.1122 11.0392C27.0907 10.6181 26.9303 10.22 26.662 9.90292L24.5201 11.7156C24.3963 11.5693 24.3201 11.3827 24.3099 11.1824L27.1122 11.0392ZM26.662 9.90292C26.3942 9.58651 26.0342 9.36831 25.6389 9.27293L24.9807 12.0006C24.8062 11.9585 24.6434 11.8613 24.5201 11.7156L26.662 9.90292ZM25.6389 9.27293C25.2439 9.17762 24.8278 9.20818 24.4502 9.36161L25.5064 11.9612C25.3386 12.0294 25.155 12.0427 24.9807 12.0006L25.6389 9.27293Z" fill="white" mask="url(#path-2-inside-1_63_68)"/>
                                </svg>
                            </a>
                        </div>
                        <div>
                            <a href="">
                                <svg width="33" height="31" viewBox="0 0 33 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.6983 -6.10352e-05C7.94988 -6.10352e-05 0.833984 6.91991 0.833984 15.4275C0.833984 23.935 7.94988 30.855 16.6983 30.855C25.4467 30.855 32.5626 23.935 32.5626 15.4275C32.5626 6.91991 25.4467 -6.10352e-05 16.6983 -6.10352e-05Z" fill="#0274B3"/>
                                    <path d="M14.6525 12.409H17.2286L17.4171 13.0606L18.181 12.6523C18.4771 12.4941 18.861 12.3628 19.4067 12.3628C20.3364 12.3628 21.2991 12.628 22.0028 13.2119C22.6807 13.7744 23.19 14.6903 23.1441 16.1665L23.1437 16.1774V16.1883V22.5521H20.5871V16.4019V16.337L20.5752 16.2732C20.5071 15.9086 20.3599 15.5215 20.0191 15.2422C19.681 14.965 19.2661 14.8874 18.8684 14.8874C18.4145 14.8874 17.9031 14.9852 17.5479 15.3584L17.5479 15.3584L17.546 15.3605C17.3274 15.592 17.2392 15.8572 17.2016 16.0333C17.182 16.1252 17.1734 16.2058 17.1697 16.2666C17.1679 16.2973 17.1672 16.3244 17.1672 16.3473C17.1672 16.3568 17.1674 16.3666 17.1676 16.3764L17.1686 22.5521H14.6525V12.409Z" fill="white" stroke="white" stroke-width="1.40299"/>
                                    <path d="M9.66438 8.81662C9.66438 8.14282 10.2341 7.56105 10.9754 7.56105C11.7167 7.56105 12.2864 8.14282 12.2864 8.81662C12.2864 9.49043 11.7167 10.0722 10.9754 10.0722C10.2341 10.0722 9.66438 9.49043 9.66438 8.81662Z" fill="white" stroke="white" stroke-width="1.40299"/>
                                    <path d="M9.69833 22.5521V12.3619H12.2154V22.5521H9.69833Z" fill="white" stroke="white" stroke-width="1.40299"/>
                                    </svg>                                    
                                    
                            </a>
                        </div>
                        <div>
                            <a href="">
                                <svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.1153 -6.10352e-05C7.36687 -6.10352e-05 0.250977 6.91991 0.250977 15.4275C0.250977 23.935 7.36687 30.855 16.1153 30.855C24.8637 30.855 31.9796 23.935 31.9796 15.4275C31.9796 6.91991 24.8637 -6.10352e-05 16.1153 -6.10352e-05Z" fill="#42C553"/>
                                    <g clip-path="url(#clip0_63_77)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20.2225 16.4922C20.0255 16.3964 19.0598 15.9347 18.88 15.8704C18.7002 15.8068 18.5693 15.7753 18.4378 15.9669C18.3069 16.1572 17.9308 16.588 17.8164 16.7153C17.7014 16.8433 17.587 16.8587 17.3907 16.7636C17.1944 16.6671 16.5611 16.4658 15.8109 15.8151C15.2272 15.3085 14.8326 14.6828 14.7182 14.4912C14.6039 14.3002 14.7057 14.1967 14.8042 14.1016C14.8927 14.016 15.0005 13.8784 15.099 13.7672C15.1975 13.6553 15.2299 13.5756 15.2953 13.4476C15.3614 13.3203 15.3283 13.2091 15.2788 13.1133C15.2299 13.0175 14.8372 12.0768 14.6733 11.6942C14.514 11.3219 14.352 11.3727 14.2317 11.3663C14.1167 11.3611 13.9858 11.3598 13.8549 11.3598C13.7241 11.3598 13.5112 11.4074 13.3314 11.599C13.151 11.79 12.644 12.2523 12.644 13.193C12.644 14.1331 13.3473 15.0416 13.4458 15.1696C13.5443 15.2969 14.8306 17.2271 16.8011 18.0547C17.2704 18.2514 17.6359 18.3691 17.9208 18.4566C18.3915 18.6025 18.8198 18.5819 19.1583 18.5324C19.535 18.4778 20.3203 18.0701 20.4843 17.6239C20.6475 17.1776 20.6475 16.7951 20.5986 16.7153C20.5497 16.6356 20.4188 16.588 20.2218 16.4922H20.2225ZM16.6385 21.2523H16.6358C15.4655 21.2525 14.3166 20.9465 13.3096 20.3662L13.0716 20.2286L10.5981 20.8601L11.2585 18.5144L11.1031 18.2739C10.4488 17.2608 10.1026 16.0883 10.1044 14.8918C10.1057 11.3875 13.0366 8.53646 16.6411 8.53646C18.3862 8.53646 20.0268 9.19874 21.2603 10.3999C21.8687 10.9892 22.3509 11.6901 22.679 12.4619C23.0071 13.2337 23.1747 14.0611 23.1719 14.8963C23.1706 18.4006 20.2397 21.2523 16.6385 21.2523ZM22.1989 9.48744C21.4706 8.77432 20.604 8.20888 19.6494 7.82389C18.6949 7.43891 17.6712 7.24204 16.6378 7.24469C12.3055 7.24469 8.77836 10.6751 8.77704 14.8912C8.77638 16.2389 9.13795 17.5544 9.82607 18.7137L8.71094 22.6765L12.878 21.613C14.0307 22.2239 15.3225 22.544 16.6352 22.5441H16.6385C20.9708 22.5441 24.4979 19.1137 24.4992 14.8969C24.5024 13.8921 24.3008 12.8967 23.9059 11.9681C23.5111 11.0396 22.9309 10.1965 22.1989 9.48744Z" fill="white"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_63_77">
                                    <rect width="15.8643" height="15.4318" fill="white" transform="translate(8.71094 7.2446)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            </a>
                        </div>
                        <div>
                            <a href="">
                                <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.441 0C6.92602 0 0 6.92409 0 15.4367C0 23.9493 6.92602 30.8734 15.441 30.8734C23.956 30.8734 30.882 23.9493 30.882 15.4367C30.882 6.92409 23.956 0 15.441 0Z" fill="url(#paint0_linear_253_82)"/>
                                    <path d="M12.1747 7.58334H18.8247C21.358 7.58334 23.4163 9.64168 23.4163 12.175V18.825C23.4163 20.0428 22.9326 21.2107 22.0715 22.0718C21.2104 22.9329 20.0425 23.4167 18.8247 23.4167H12.1747C9.64134 23.4167 7.58301 21.3583 7.58301 18.825V12.175C7.58301 10.9572 8.06677 9.78932 8.92788 8.92821C9.78898 8.06711 10.9569 7.58334 12.1747 7.58334ZM12.0163 9.16668C11.2605 9.16668 10.5356 9.46694 10.0011 10.0014C9.46661 10.5359 9.16634 11.2608 9.16634 12.0167V18.9833C9.16634 20.5588 10.4409 21.8333 12.0163 21.8333H18.983C19.7389 21.8333 20.4638 21.5331 20.9983 20.9986C21.5327 20.4641 21.833 19.7392 21.833 18.9833V12.0167C21.833 10.4413 20.5584 9.16668 18.983 9.16668H12.0163ZM19.6559 10.3542C19.9184 10.3542 20.1701 10.4584 20.3557 10.644C20.5412 10.8296 20.6455 11.0813 20.6455 11.3438C20.6455 11.6062 20.5412 11.8579 20.3557 12.0435C20.1701 12.2291 19.9184 12.3333 19.6559 12.3333C19.3935 12.3333 19.1418 12.2291 18.9562 12.0435C18.7706 11.8579 18.6663 11.6062 18.6663 11.3438C18.6663 11.0813 18.7706 10.8296 18.9562 10.644C19.1418 10.4584 19.3935 10.3542 19.6559 10.3542ZM15.4997 11.5417C16.5495 11.5417 17.5563 11.9587 18.2986 12.701C19.041 13.4434 19.458 14.4502 19.458 15.5C19.458 16.5498 19.041 17.5566 18.2986 18.299C17.5563 19.0413 16.5495 19.4583 15.4997 19.4583C14.4499 19.4583 13.443 19.0413 12.7007 18.299C11.9584 17.5566 11.5413 16.5498 11.5413 15.5C11.5413 14.4502 11.9584 13.4434 12.7007 12.701C13.443 11.9587 14.4499 11.5417 15.4997 11.5417ZM15.4997 13.125C14.8698 13.125 14.2657 13.3752 13.8203 13.8206C13.3749 14.266 13.1247 14.8701 13.1247 15.5C13.1247 16.1299 13.3749 16.734 13.8203 17.1794C14.2657 17.6248 14.8698 17.875 15.4997 17.875C16.1296 17.875 16.7337 17.6248 17.1791 17.1794C17.6245 16.734 17.8747 16.1299 17.8747 15.5C17.8747 14.8701 17.6245 14.266 17.1791 13.8206C16.7337 13.3752 16.1296 13.125 15.4997 13.125Z" fill="white"/>
                                    <defs>
                                    <linearGradient id="paint0_linear_253_82" x1="24.8599" y1="6.13257" x2="9.90267" y2="30.8445" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#BE33B3"/>
                                    <stop offset="0.500635" stop-color="#F95149"/>
                                    <stop offset="0.893123" stop-color="#FFD153"/>
                                    </linearGradient>
                                    </defs>
                                    </svg>
                                    
                            </a>
                        </div>

                    </div>

                </div>
            </div>
            <div class="pet-info">
                <div>
                    <p><%= pet.type %> pet</p>
                    <pre>Pet:                                <%= pet.pet %></pre>
                    <% if (pet.petname) { %>
                        <pre>Pet's Name:                 <%= pet.petname %></pre>
                    <% } %>
                    <% if (pet.age) { %>
                        <pre>Age:                               <%= pet.age %></pre>
                    <% } %>
                    <% if (pet.gender) { %>
                        <pre>Gender:                        <%= pet.gender %></pre>
                    <% } %>
                    <% if (pet.colour) { %>
                        <pre>Color:                            <%= pet.colour %></pre>
                    <% } %>
                    <pre>Owner's Name:       </pre>
                    <pre>Owner's Number:     </pre>
                    <% if (pet.date) { %>
                        <pre>Date:                             <%= pet.date.toString().split(' ').slice(0, 4).join(' ') %></pre>
                    <% } %>
                    <% if (pet.address) { %>
                        <pre>Address:                       <%= 
                            (function() {
                                var addressParts = pet.address.split(',');
                                if (addressParts.length >= 3) {
                                    var firstPart = addressParts[1].trim();
                                    var secondPart = addressParts[2].trim();
                                    return firstPart + ', ' + secondPart;
                                } else {
                                    return pet.address;
                                }
                            })()
                        %></pre>
                    <% } %>
                    <% if (pet.breed) { %>
                        <pre>Breed:                           <%= pet.breed %></pre>
                    <% } %>
                    <% if (pet.size) { %>
                        <pre>Size:                               <%= pet.size %></pre>
                    <% } %>
                </div>
                
            </div>
        </div>
        <div class="pet-description">
            <p>
                Bhunti is a stunning 8-year-old German Shepherd male that has gone missing since April 2022. He weighs about 80 pounds and has a beautiful, shiny black coat. Ringo has a very sweet temperament and is a very calm dog. He is a very affectionate dog, follows his person everywhere, loves to get petted . He loves going for walks and enjoys being outdoors. He used to live in a home with small- and large-size dogs and does really well with all of them, is crate-trained, housebroken and knows how to use a doggie door.
                Bhunti walks well on leash but will need some basic obedience training with his future owner. He did well at the groomer’s and really well at the vet’s during his exam. Ringo likes going on car rides and has no problem jumping into the back of a SUV. When left alone he is quiet and not destructive. He is not a fence jumper and not a digger, either.
            </p>
        </div>
        <div class="comment-section">
            <p>Leave a comment</p>
            <textarea name="" id="" cols="30" rows="10" placeholder="Write a comment"></textarea>
            <div class="comment-btn-section">
                <button class="comment-btn">
                    Comment
                </button>
            </div>
        </div>
        <hr>
        <input type="text" id="userProfile" value="<%=user.profileImage%>" hidden>
        <div class="attach">
                <button class="attach-btn">
                    <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.4354 21.1068C14.6404 21.3119 14.7555 21.59 14.7555 21.8799C14.7555 22.1699 14.6404 22.448 14.4354 22.6531L13.0764 24.0202C11.6393 25.4565 9.6904 26.263 7.65857 26.2624C5.62675 26.2617 3.6784 25.454 2.24214 24.0168C0.805882 22.5797 -0.000640597 20.6308 3.81768e-07 18.599C0.00064136 16.5672 0.808394 14.6188 2.24556 13.1825L5.54322 9.88489C6.92365 8.50336 8.77985 7.70159 10.732 7.64364C12.6841 7.58569 14.5846 8.27595 16.0446 9.57318C16.1523 9.66869 16.2402 9.78449 16.3031 9.91396C16.3661 10.0434 16.403 10.184 16.4116 10.3277C16.4202 10.4715 16.4005 10.6155 16.3535 10.7515C16.3064 10.8876 16.2331 11.0131 16.1376 11.1208C16.042 11.2286 15.9262 11.3164 15.7968 11.3794C15.6673 11.4424 15.5267 11.4792 15.383 11.4878C15.2393 11.4965 15.0953 11.4767 14.9592 11.4297C14.8231 11.3827 14.6976 11.3093 14.5899 11.2138C13.5472 10.2878 12.1901 9.79515 10.7961 9.83658C9.40222 9.878 8.07678 10.4504 7.09087 11.4367L3.79322 14.7302C2.76742 15.756 2.19113 17.1473 2.19113 18.598C2.19113 20.0487 2.76742 21.44 3.79322 22.4658C4.81902 23.4916 6.21029 24.0678 7.66099 24.0678C9.11169 24.0678 10.503 23.4916 11.5288 22.4658L12.8877 21.1068C12.9893 21.0051 13.11 20.9244 13.2427 20.8694C13.3755 20.8143 13.5178 20.786 13.6616 20.786C13.8053 20.786 13.9476 20.8143 14.0804 20.8694C14.2132 20.9244 14.3338 21.0051 14.4354 21.1068ZM24.0167 2.23958C22.5793 0.805429 20.6317 0 18.6012 0C16.5707 0 14.6232 0.805429 13.1858 2.23958L11.8268 3.59993C11.6218 3.80517 11.5066 4.08345 11.5068 4.37356C11.5069 4.66368 11.6223 4.94186 11.8275 5.14691C12.0327 5.35196 12.311 5.46708 12.6011 5.46695C12.8912 5.46683 13.1694 5.35146 13.3745 5.14622L14.7335 3.78724C15.7592 2.76144 17.1505 2.18516 18.6012 2.18516C20.0519 2.18516 21.4432 2.76144 22.469 3.78724C23.4948 4.81304 24.0711 6.20432 24.0711 7.65501C24.0711 9.10571 23.4948 10.497 22.469 11.5228L19.1713 14.8232C18.1849 15.8089 16.8592 16.3805 15.4653 16.4212C14.0713 16.4618 12.7145 15.9684 11.6723 15.0419C11.4548 14.849 11.1695 14.7504 10.8792 14.7679C10.589 14.7853 10.3176 14.9173 10.1247 15.1349C9.93176 15.3525 9.83318 15.6377 9.85062 15.928C9.86805 16.2182 10.0001 16.4896 10.2176 16.6826C11.6772 17.9801 13.5775 18.6709 15.5297 18.6134C17.4818 18.556 19.3382 17.7547 20.719 16.3736L24.0167 13.0759C25.4516 11.6384 26.2576 9.69026 26.2576 7.65911C26.2576 5.62796 25.4516 3.67981 24.0167 2.24232V2.23958Z" fill="#0A66C2"/>
                    </svg>
                    <p>Attach My Post</p>
                </button>
        </div>
        <!-- <div class="post-user-comments">
            <div class="total-comments">
                <div class="user-comment-section">
                    <div class="user-comment-profile">
                        <img src="/image/test.jpeg" alt="">
                    </div>
                    <div class="user-comments">
                        <div class="username-date">
                            <p class="username">Junkiri</p>
                            <p class="date">2 days ago</p>
                        </div>
                        
                        <p class="comment">I HAVE SEEN THIS DOG AROUND NAXAL GROUND</p>
                    </div>
                </div>
                <div class="like-reply">

                </div>
            </div>
        </div> -->
        <div class="post-user-comments">
            <div class="total-comments">
                <div class="user-comment-section">
                    <div class="user-comment-profile">
                        <img src="/image/test.jpeg" alt="">
                    </div>
                    <div class="user-comments">
                        <div class="username-date">
                            <p class="username">Junkiri</p>
                            <p class="date">2 days ago</p>
                        </div>
                        <p class="comment">I HAVE SEEN THIS DOG AROUND NAXAL GROUND</p>
                    </div>
                </div>
                <div class="like-reply">
                    <button class="like-btn">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.75 16.5H3.75V7.5H0.75V16.5ZM17.25 8.25C17.25 7.425 16.575 6.75 15.75 6.75H11.0175L11.73 3.3225L11.7525 3.0825C11.7525 2.775 11.625 2.49 11.4225 2.2875L10.6275 1.5L5.6925 6.4425C5.415 6.7125 5.25 7.0875 5.25 7.5V15C5.25 15.825 5.925 16.5 6.75 16.5H13.5C14.1225 16.5 14.655 16.125 14.88 15.585L17.145 10.2975C17.2125 10.125 17.25 9.945 17.25 9.75V8.25Z" fill="black"/>
                        </svg>
                    </button>
                    <button class="reply-btn">REPLY</button>
                    <button class="view-reply-btn">View Replies</button>
                    <div class="replies-section1" style="display: none;">
                        <div class="reply">
                            <div class="reply-user-profile">
                                <img src="/image/test.jpeg" alt="">
                            </div>
                            <div>
                                
                                <p class="username">Rohan</p>
                                <p class="reply-comment">This is reply test I have been doing</p>
                            </div>
                        </div>
                    </div>
                    <div class="replies-section">
                    </div>
                </div>
            </div>
            <div class="total-comments">
                <div class="user-comment-section">
                    <div class="user-comment-profile">
                        <img src="/image/catdog.jpg" alt="">
                    </div>
                    <div class="user-comments">
                        <div class="username-date">
                            <p class="username">Junkiri</p>
                            <p class="date">2 days ago</p>
                        </div>
                        <p class="comment">It's SAD that even after all these years this dog is still being missing. We need more support</p>
                    </div>
                </div>
                <div class="like-reply">
                    <button class="like-btn">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.75 16.5H3.75V7.5H0.75V16.5ZM17.25 8.25C17.25 7.425 16.575 6.75 15.75 6.75H11.0175L11.73 3.3225L11.7525 3.0825C11.7525 2.775 11.625 2.49 11.4225 2.2875L10.6275 1.5L5.6925 6.4425C5.415 6.7125 5.25 7.0875 5.25 7.5V15C5.25 15.825 5.925 16.5 6.75 16.5H13.5C14.1225 16.5 14.655 16.125 14.88 15.585L17.145 10.2975C17.2125 10.125 17.25 9.945 17.25 9.75V8.25Z" fill="black"/>
                        </svg>
                    </button>
                    <button class="reply-btn">REPLY</button>
                    <button class="view-reply-btn">View Replies</button>
                    <div class="replies-section1" style="display: none;">
                        <div class="reply">
                            <div class="reply-user-profile">
                                <img src="/image/test.jpeg" alt="">
                            </div>
                            <div>
                                
                                <p class="username">Rohan</p>
                                <p class="reply-comment">This is reply test I have been doing</p>
                            </div>
                        </div>
                    </div>
                    <div class="replies-section">
                    </div>
                </div>
            </div>
            <div class="total-comments">
                <div class="user-comment-section">
                    <div class="user-comment-profile">
                        <img src="/image/profile.jpg" alt="">
                    </div>
                    <div class="user-comments">
                        <div class="username-date">
                            <p class="username">Junkiri</p>
                            <p class="date">2 days ago</p>
                        </div>
                        <p class="comment">I hope this pet get found as soon as possible</p>
                    </div>
                </div>
                <div class="like-reply">
                    <button class="like-btn">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.75 16.5H3.75V7.5H0.75V16.5ZM17.25 8.25C17.25 7.425 16.575 6.75 15.75 6.75H11.0175L11.73 3.3225L11.7525 3.0825C11.7525 2.775 11.625 2.49 11.4225 2.2875L10.6275 1.5L5.6925 6.4425C5.415 6.7125 5.25 7.0875 5.25 7.5V15C5.25 15.825 5.925 16.5 6.75 16.5H13.5C14.1225 16.5 14.655 16.125 14.88 15.585L17.145 10.2975C17.2125 10.125 17.25 9.945 17.25 9.75V8.25Z" fill="black"/>
                        </svg>
                    </button>
                    <button class="reply-btn">REPLY</button>
                    <button class="view-reply-btn">View Replies</button>
                    <div class="replies-section1" style="display: none;">
                        <div class="reply">
                            <div class="reply-user-profile">
                                <img src="/image/test.jpeg" alt="">
                            </div>
                            <div>
                                
                                <p class="username">Rohan</p>
                                <p class="reply-comment">This is reply test I have been doing</p>
                            </div>
                        </div>
                    </div>
                    <div class="replies-section">
                    </div>
                </div>
            </div>
        </div>
        


    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    
function showImage(imageSrc) {
    var largeImage = document.getElementById('largeImage');
    // Check if the imageSrc starts with "/uploads/", if not, add it
    if (imageSrc.indexOf("/uploads") === 0) {
        var firstSlashIndex = imageSrc.indexOf("/", 1); // Find the index of the first slash after "/uploads"
        if (firstSlashIndex === -1) {
            // If no slash is found after "/uploads", insert one
            imageSrc = imageSrc.slice(0, 8) + "/" + imageSrc.slice(8);
        }
    }
    largeImage.src = imageSrc;
}

// function showImage(imageSrc) {
//     var largeImage = document.getElementById('largeImage');
//     largeImage.src = imageSrc;
// }
var profileImageSrc = $('#userProfile').val();


document.querySelectorAll('.view-reply-btn').forEach(btn => {
    btn.addEventListener("click", function() {
        const repliesSection = btn.nextElementSibling;
        if (repliesSection.style.display === "none" || repliesSection.style.display === "") {
            repliesSection.style.display = "block";
        } else {
            repliesSection.style.display = "none";
        }
    });
});


document.addEventListener("DOMContentLoaded", function() {
    const likeButtons = document.querySelectorAll(".like-btn");
    const replyButtons = document.querySelectorAll(".reply-btn");

    likeButtons.forEach(btn => {
    btn.addEventListener("click", function() {
        const likesCount = parseInt(btn.dataset.likes) || 0;
        btn.innerHTML = `
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.75 16.5H3.75V7.5H0.75V16.5ZM17.25 8.25C17.25 7.425 16.575 6.75 15.75 6.75H11.0175L11.73 3.3225L11.7525 3.0825C11.7525 2.775 11.625 2.49 11.4225 2.2875L10.6275 1.5L5.6925 6.4425C5.415 6.7125 5.25 7.0875 5.25 7.5V15C5.25 15.825 5.925 16.5 6.75 16.5H13.5C14.1225 16.5 14.655 16.125 14.88 15.585L17.145 10.2975C17.2125 10.125 17.25 9.945 17.25 9.75V8.25Z" fill="black"/>
                        </svg> ${likesCount + 1}`;
        btn.dataset.likes = likesCount + 1;
    });
});

replyButtons.forEach(btn => {
    btn.addEventListener("click", function() {
        const parentComment = btn.closest(".total-comments");
        const replySection = parentComment.querySelector(".replies-section");

        // Check if reply section already contains textarea and button
        if (!replySection.querySelector("input") && !replySection.querySelector("button")) {
            const replyInput = document.createElement("input");
            replyInput.placeholder = "Write your reply here...";
            const submitButton = document.createElement("button");
            submitButton.textContent = "reply";
            submitButton.addEventListener("click", function() {
                const replyText = replyInput.value;
                if (replyText.trim() !== "") {
                    const reply = document.createElement("div");
                    reply.classList.add("reply");
                    reply.innerHTML = `
                        <div class="reply-user-profile">
                            <img src="${profileImageSrc}" alt="">
                        </div>
                        <div>
                            <p class="username">Your Username</p>
                            <p class="reply-comment">${replyText}</p>
                        </div>
                    `;
                    replySection.prepend(reply);
                    replyInput.value = "";
                }
            });
            replySection.appendChild(replyInput);
            replySection.appendChild(submitButton);
        } else {
            // If textarea and button already exist, focus on the textarea
            replySection.querySelector("input").focus();
        }
    });
});

});


</script>
</html>